body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(28, 29, 36);
    margin: 0px;
    height: 0px;
    color: white;
}

header{
    background-color: rgb(39, 40, 51);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    color: white;
    margin: 0px;
    
}

h2{
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 213);
    text-decoration-thickness: 2px;
}

/* === NAV === */

nav{
    background-color: rgb(35, 36, 46);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.233));
}

nav a{
    color: white;
    width: fit-content;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* === Bemutatkozas === */

.bemMainDiv{
    background-color: rgb(39, 40, 51);
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.418));
    margin-top: 100px;
}

.bemKepDiv{
    width: 150px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
}

.bemTextDiv{
    margin-left: 15px;
    width: 400px;
}

#bemutatkozas div img{
 
    width: 150px;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .bemMainDiv{
        height: fit-content;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;

  
    }
    .bemKepDiv{
        margin-left: auto;
        margin-right: auto;
       
    }
    .bemTextDiv{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}



/* === keszsegek === */
.keszAllCardDiv{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

}

.keszBgDiv{
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    background-color: aqua;
    flex: 0 0 100px;
    margin: 10px
}