body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(28, 29, 36);
    margin: 0px;
    height: 0px;
}

header{
    background-color: rgb(39, 40, 51);
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    color: white;
    margin: 0px;
    
}

/* === NAV === */

nav{
    background-color: rgb(35, 36, 46);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    color: white;
    width: fit-content;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
        display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}